<?xml version='1.0' encoding='utf-8'?>
<Context>
  <Resource
   name="jdbc/AeriusDBCalculator" auth="Container"
   type="javax.sql.DataSource"
   username="calculator"
   password="calculator" 
   driverClassName="org.postgresql.Driver"
   url="jdbc:postgresql://database/calculator"
   maxActive="64"
   maxIdle="16"
   maxAge="180000" />
</Context>
