<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-80(%d{HH:mm:ss}|%cyan(%-5level) %boldYellow(%logger{38})) %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="CLIENT" class="nl.yogh.aerius.server.logging.ApplicationAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="CLIENT" />
  </root>
</configuration>
